

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    padding-top: 10px;
}

.slotMachine{
    display: flex;
    flex-wrap: wrap;
    width: 35vw;
    height: 80vh;
    border: 3px solid #333;
    border-radius: 10px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
  }
  .slotMachine button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #5e5c5c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .slotMachine button:hover {
    background-color: #444;
    transform: scale(1.1);
  }
  
  .slot_inner{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  }
  
 
  